@import './base.css';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
  position: relative;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1em;
  }
}
